@if (Client != null)
{
    <tr>
        <td>@Client.Id</td>
        <td>@Client.Name</td>
        <td>@Client.DataCreate</td>
        <td>@Client.Status</td>
        <td><a class="btn btn-success" href="@url">Open</a></td>
        @if (IsWithButtons)
        {
            <td>

                <AuthorizeView>
                    <button class="btn btn-danger" @onclick="(() => DeleteTheClient.InvokeAsync(Client))">Delete</button>
                </AuthorizeView>
            </td>
        }

    </tr>
}
@code {
    [Parameter] public Client Client { get; set; }
    [Parameter] public bool IsWithButtons { get; set; } = true;
    [Parameter] public EventCallback<Client> DeleteTheClient { get; set; }

    string url;

    protected override void OnInitialized()
    {
        if (Client is not null)
            url = $"clients/{Client.Id}";
    }
}