@if (Order != null)
{
    <tr>
        <td>@Order.Id</td>
        @if (IsVisibleClientId)
        {
            <td>@Order.ClientId</td>
        }
        <td>@Order.Decription</td>
        <td>@Order.Date</td>
        <td>@Order.Price</td>
        <td>@Order.Status</td>
        <td>@Order.Currency</td>

        <td>
            <a class="btn btn-success" href="@url">Open</a>
            @if (IsWithButtons)
            {
                <AuthorizeView>
                    <button class="btn btn-danger" @onclick="(() => DeleteTheOrder.InvokeAsync(Order))">Delete</button>
                </AuthorizeView>
            }
        </td>
    </tr>
}
@code {
    [Parameter] public Order Order { get; set; }
    [Parameter] public bool IsWithButtons { get; set; } = true;
    [Parameter] public bool IsVisibleClientId { get; set; } = true;
    [Parameter] public EventCallback<Order> DeleteTheOrder { get; set; }

    string url;

    protected override void OnInitialized()
    {
        if (Order is not null)
            url = $"orders/{Order.Id}";
    }
}