@if (Client != null)
{
    @if (!IsTable)
    {
        <div class="row text-center alert alert-info">
            <div class="col">
                <p>@Client.Name</p>
                <p>@Client.DataCreate.ToString("dd.MM.yyyy")</p>
                <p>@Client.Status</p>
            </div>
        </div>
    }
    else
    {
        <tr>
            <td>@Client.Id</td>
            <td>@Client.Name</td>
            <td>@Client.DataCreate.ToString("dd.MM.yyyy")</td>
            <td>@Client.Status</td>
            <td class="col-2">
                <button class="btn btn-primary">Update</button>
                <button class="btn btn-danger" @onclick="(() => DeleteTheClient.InvokeAsync(Client))">Delete</button>
            </td>
        </tr>
    }
}
@code {
    [Parameter] public Client Client { get; set; }
    [Parameter] public bool IsTable { get; set; }

    [Parameter] public EventCallback<Client> DeleteTheClient { get; set; }
}