@if (Order != null)
{
    <div class="row text-center alert alert-info">
        <div class="col">
            <p>@Order.ClientId</p>
            <p>@Order.Decription</p>
            <p>@Order.Date</p>
            <p>@Order.Price</p>
            <p>@Order.Status</p>
            <p>@Order.CurrencyId</p>
        </div>
    </div>
}
@code {
    [Parameter] public Order Order { get; set; }
}